<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    {{ title }}
  </h1>
</div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-item">
          <app-post-list-item *ngFor ="let post of postArray"
                          [postTitre]="post.titre"
                          [postContenu]="post.contenu"
                          [postLove]="post.loveIts"
                          [postDate]="post.created_at"></app-post-list-item>
        </ul>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>
